* {
	margin: 0;
	padding: 0;
}

/*form*/
form {
  margin: 0 auto;
  width: 30%;
}
fieldset {
  padding-bottom: 10px;
  margin-top: 10px;
  border: 4px solid lightblue;
  background-color: aliceblue;
}
table.table_form {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
tr {	height: 28px;}

td {  width: 85px;}

th {
  font-size: 12px;
  color: red;
}

legend {
  font-size: 30px;
  font-weight: bold;
  color: blue;
}

/*button submit and refresh*/
input#btnSubmit {
  margin-left: 107px;
  width: 90px;
  height: 30px;
}

input#btnRefresh {
	margin-left: 10px;
	width: 90px;
  height: 30px;
}

/*input calendar*/
input#birthday {
  width: 77%;
  margin-top: 6px;
  float: left;
}
img {
  width: 30px;
  height: 30px;
  float: right;
}
#table_calendar {
  text-align: center;
  background-color: hotpink;
  display: none;
  width: 90%;
}
#table_calendar td {
  width: 65px;
  height: 30px;
  border: 1px solid pink;
}
#table_calendar .effect {
  border: 1px solid gray;
}

/*element show kq*/
#kq {
  text-align: center;
  margin: 0 auto;
  color: blue;
}